body{
    font-family: Arial, Helvetica, sans-serif;
    
}
input[type="submit"] {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    border: none;
    
}

.container{
    
    margin: auto;
    width: 80%;
    
    
}
#header{
    text-align: center;
    background-color: #3f87ba;
    margin: 0;
    border-radius: 15px 15px 0px 0px;
}
#header h1{
    margin: 0;
    color: #323287;

}


#nav{
    text-align: center;
    background-color: #164e75;
    margin: 0;
    word-spacing: 1em;
}
#nav a{
    text-decoration: none;
    margin: 0;
    color: black;
    font-size: 20px;
}
#nav a:hover{
    color: red;
}
.main{
    background-color: #1a1ac9;
    border-radius: 0px 0px 15px 15px;
}
.main p{
    margin: 0;
    text-align: center;
    position: relative;
    top: 10px;
    font-size: 20px;
    color: red;
}

.form-1 {
    margin: 15px;
    
}
.form-1 label{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
    font-size: 20px;
}
.form-1 input[type="text"] {
    border-radius: 15px;
}
.list li{
    color: red;

}
.msg {
    font-size: 20px;
    color: red;
    margin-left: 20px;
}